@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
	box-sizing: border-box;
    font-family: futura, sans-serif;
    text-transform: uppercase;
	-moz-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	text-size-adjust: 100%;
}

*, *:before, *:after {
	box-sizing: inherit;
}

.btn {
    background-color: #bbb;
    font-size: 2em;
    color: white;
    font-weight: bold;
    text-decoration: none;
    padding: .5em 1em;
    margin: .5em;
    border-radius: 5px;
    display: inline-block;
}

.btn:hover,
.btn:active,
.btn:focus{
    background-color: #aaa;
}


.btn i{
    vertical-align: -2;
    padding-right: .25em;
    
}